CREATE OR REPLACE FUNCTION toggle_bookmark(p_book_id UUID, p_user_id UUID) RETURNS VOID AS } BEGIN IF EXISTS(SELECT 1 FROM bookmarks WHERE book_id = p_book_id AND user_id = p_user_id) THEN DELETE FROM bookmarks WHERE book_id = p_book_id AND user_id = p_user_id; ELSE INSERT INTO bookmarks (book_id, user_id) VALUES (p_book_id, p_user_id); END IF; END; } LANGUAGE plpgsql SECURITY DEFINER;
